<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Composicion de mi familia</title>
</head>
<body>
    <header>
        <h1>Composicion de la familia</h1>
    </header>

    <div>
        <section>
            <h1>Familia</h1>
            <ol>
                <h3>Jefe:</h3> 
                    <ol>
                        {% for elemento in jefe %} <h4>{{ elemento }}</h4> {% endfor %}
                    </ol>
                <h3>Mujer:</h3>
                     <ol>
                        {% for elemento in mujer %} <h4>{{ elemento }}</h4> {% endfor %}
                     </ol>
            </ol>
        </section>

        <section>
            <h1>Perras de la familia</h1>
            <ol>            
                <h3>Perra gorda:</h3>
                    <ol>
                        {% for elemento in perra1 %} <h4>{{ elemento }}</h4> {% endfor %}
                    </ol> 
                <h3>Perra inteligente:</h3>
                    <ol>
                        {% for elemento in perra2 %} <h4>{{ elemento }}</h4> {% endfor %}
                    </ol> 
                <h3>Perra miedosa:</h3>
                    <ol>
                        {% for elemento in perra3 %} <h4>{{ elemento }}</h4> {% endfor %}
                    </ol> 
                <h3>Perra mas linda:</h3>
                    <ol>
                        {% for elemento in perra4 %} <h4>{{ elemento }}</h4> {% endfor %}
                    </ol> 
            </ol>
        </section>
    </div>
    
</body>
</html>